<a href="https://colab.research.google.com/github/KimutaiLawrence/KimutaiLawrence/blob/main/DSAIL_Application_Lawrence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 1.

Installing the required packages

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

Download the IRIS dataset from the site

In [2]:
import pandas as pd

data = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)
data.columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

data.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Compute the mean, standard devi-
ation, minimum and maximum of each attribute

In [3]:
from pandas.api.types import is_numeric_dtype

for col in data.columns:
    if is_numeric_dtype(data[col]):
        print('%s:' % (col))
        print('\t Mean = %.2f' % data[col].mean())
        print('\t Standard deviation = %.2f' % data[col].std())
        print('\t Minimum = %.2f' % data[col].min())
        print('\t Maximum = %.2f' % data[col].max())

sepal length:
	 Mean = 5.84
	 Standard deviation = 0.83
	 Minimum = 4.30
	 Maximum = 7.90
sepal width:
	 Mean = 3.05
	 Standard deviation = 0.43
	 Minimum = 2.00
	 Maximum = 4.40
petal length:
	 Mean = 3.76
	 Standard deviation = 1.76
	 Minimum = 1.00
	 Maximum = 6.90
petal width:
	 Mean = 1.20
	 Standard deviation = 0.76
	 Minimum = 0.10
	 Maximum = 2.50

TASK 2.

Python script that reads and downloads the Apache license version(.txt file) from the web.

In [4]:
from typing import Text
import requests
url = 'https://www.apache.org/licenses/LICENSE-2.0.txt'
r = requests.get(url, allow_redirects=True)
d=open('apache.txt', 'wb')
d.write(r.content)

11358

We now proceed to write a script that reads the text file and computes the frequency of vowels

In [5]:
def countvowels():
    f=open('apache.txt', 'r')
    a=f.read()
    numberofvowels = {}
    for vowel in 'aeiouAEIOU':
        count=a.count(vowel)
        numberofvowels[vowel]=count
    return numberofvowels
print (countvowels ())

{'a': 518, 'e': 833, 'i': 729, 'o': 729, 'u': 244, 'A': 26, 'E': 26, 'I': 40, 'O': 33, 'U': 10}

TASK 3. 
Intergration

In [6]:
import numpy as np

Thw scipy.intergrate libarary contains the function to calculate the integral using the quad function. The first value obtained is the integral while the second value is just an estimate.

In [7]:
import scipy.integrate  
from numpy import exp  
f= lambda x:exp(-x**2) / 2
i = scipy.integrate.quad(f, 0, 1)  
print(i)  
print('The first value is the INTEGRAL while the second value is an estimate of the absolute error in the value of an Integer')

(0.37341206640621355, 4.1457067379703625e-15)
The first value is the INTEGRAL while the second value is an estimate of the absolute error in the value of an Integer